{% extends "_base.html" %}

{% block title %}
	{{ page_title }}
{% endblock %}

{% block header %}
	<h1><a href="/">Board</a> &raquo; List</h1>
	<p>See the article list.</p>
{% endblock %}

{% block content %}
	<div class="content_wrap">
		{% if articles %}
			<table id="boardList">
				<thead>
					<tr>
						<th scope="col" class="no"></th>
						<th scope="col" class="title">Title</th>
						<th scope="col" class="author">Author</th>
						<th scope="col" class="date">Written in</th>
						<th scope="col" class="read">Read</th>
					</tr>
				</thead>
				<tbody>
					{% for article in articles %}
						<tr>
							<td>{{ article.id }}</td>
							<th scope="row"><a href="/View/{{ article.id }}">{{ article.title }}</a> ({{ article.comments }})</th>
							<td>{{ article.user.username }}</td>
							<td>{{ article.written | date:"Y/m/d" }}</td>
							<td>{{ article.readcount }}</td>
						</tr>
					{% endfor %}
				</tbody>
			</table>
		{% endif %}
		<div class="boardButtons">
			<p class="right"><a href="/Write/">Write</a></p>
		</div>
	</div>
{% endblock %}