{% extends "_base.html" %}

{% block title %}
	{{ page_title }}
{% endblock %}

{% block header %}
	<h1><a href="/">Django 예제 게시판</a> &raquo; List</h1>
	<p>See the article list.</p>
{% endblock %}

{% block content %}
	<div class="content_wrap">
		{% if articles %}
			<table id="boardList">
				<thead>
					<tr>
						<th scope="col" class="no"></th>
						<th scope="col" class="title">Title</th>
						<th scope="col" class="author">Author</th>
						<th scope="col" class="date">Written in</th>
						<th scope="col" class="read">Read</th>
					</tr>
				</thead>
				<tbody>
					{% for article in articles %}
						<tr>
							<td>{{ article.id }}</td>
							<th scope="row"><a href="/View/{{ article.id }}">{{ article.title }}</a> ({{ article.comments }})</th>
							<td>{{ article.user.username }}</td>
							<td>{{ article.written | date:"Y/m/d" }}</td>
							<td>{{ article.readcount }}</td>
						</tr>
					{% endfor %}
				</tbody>
			</table>
			<p class="paging">
				{% if articles.has_previous %}
					<a href="?page={{ articles.previous_page_number }}" class="icon-left"> 
						Previous
					</a> |
					{% endif %}
					<span>Page {{ articles.number }} of {{ articles.paginator.num_pages }}</span>
					{% if articles.has_next %} |
					<a href="?page={{ articles.next_page_number }}">Next</a>
				{% endif %}
			</p>
		{% endif %}
		<div class="boardButtons">
			<p class="right"><a href="/Write/">Write</a></p>
		</div>
	</div>
{% endblock %}