{% extends "_base.html" %}

{% block title %}
	{{ page_title }}
{% endblock %}

{% block header %}
	<h1>Board &raquo; List</h1>
	<p>See the article list.</p>
{% endblock %}

{% block content %}
	<div class="content_wrap">
		{% if articles %}
			<table id="boardList">
				<thead>
					<tr>
						<th scope="col"></th>
						<th scope="col">Title</th>
						<th scope="col">Author</th>
						<th scope="col">Written in</th>
						<th scope="col">Read</th>
					</tr>
				</thead>
				<tbody>
					{% for article in articles %}
						<tr>
							<td>{{ article.id }}</td>
							<th scope="row"><a href="/View/{{ article.id }}">{{ article.title }}</a> ({{ article.comments }})</th>
							<td>{{ article.user.username }}</td>
							<td>{{ article.written }}</td>
							<td>{{ article.readcount }}</td>
						</tr>
					{% endfor %}
				</tbody>
			</table>
		{% endif %}
		<p class="boardButtons">
			<a href="/Write/">Write</a>
		</p>
	</div>
{% endblock %}