{% extends "_base.html" %}

{% block title %}
	{{ page_title }}
{% endblock %}

{% block header %}
	<h1><a href="/">Django 예제 게시판</a> &raquo; View</h1>
	<p>Read the article.</p>
{% endblock %}

{% block content %}
	<div class="content_wrap">
		<header>
		<h2>{{ article.title }}</h2>
			<p class="articleDesc">
				<strong>{{ article.user.username }}</strong> ({{ article.user.email }})
				<sup>|</sup> Written at {{ article.written }}
				{% if article.modified %}
					<sup>|</sup> Last Modified at {{ article.modified }}
				{% endif %}
				<sup>|</sup> {{ article.readcount }} Views
			</p>
		</header>
		<article>
			<div class="article">
				{{ article.text | linebreaks}}
			</div>
		</article>
		<section>
			<div class="comments">
				comments
			</div>
		</section>
		<footer>
			<div class="boardButtons cboth">
				<p class="left">
					<a href="/">List</a>
				</p>
				<p class="right">
					<a href="/Modify/{{ article.id }}">Modify</a>
					<a href="/Delete/{{ article.id }}" id="removeButton">Remove</a>
				</p>
			</div>
		</footer>
	</div>
{% endblock %}